<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- These are loaded directly by the ForwardedMemcachedCustomCode assembly app.config -->
  <appSettings>
    <add key="ObfuscateForHeader" value="true" />
    <add key="TemporaryRequestStorageMemcachedNodeEndPoint" value="" />
    <add key="TemporaryRequestStorageMemcachedConfigEndPoint" value="" />
    <add key="TemporaryRequestStoragePeriod" value="00:00:10" />
  </appSettings>
  <!-- Merge the below runtime assembly bindings into the Thinktecture.Relay.Server app.config file for deployment -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
